<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="smartPhone" class="org.spring.SmartPhones"/>
    <bean id="phoneCatalog" class="org.spring.PhoneCatalog">
        <constructor-arg ref="smartPhone"/>
    </bean>

</beans>
